@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #e6eff6;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  overflow-x: hiden
}
.container-fluid {
  display: grid;
  grid-template-columns: minmax(100vw, 1fr);
  grid-template-rows: minmax(100vh, 1fr);
}
.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    'header header'
    'body1 body2';
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
}
header {
  background: #fff;
  grid-area: header;
  padding: 30px;
  border-radius: 10px 10px 0 0;
  height: 100%;
}
header h2 {
  color: #41a7a5;
  font-weight: 600;
  margin-bottom: 10px;
}
header h3 {
  color: #bfdf32;
  padding-bottom: 10px;
  font-weight: 500;
}
header p {
  color: #abb0b6;
  font-weight: 300;
}
.body1 {
  /* -webkit-box-shadow: 0px 0px 38px -22px #000000;
  box-shadow: 0px 0px 38px -22px #000000; */
  background: #2bb3b1;
  grid-area: body1;
  border-radius: 0 0 0 10px;
  padding: 30px;
}
.body1 h3,
h1 {
  font-weight: 500;
}
.body1 h1,
span {
  display: inline-block;
}
.body1 span {
  color: #80e1e2;
}
.body1 p {
  font-weight: 300;
}
.body1 button {
  width: 100%;
  height: 7vh;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #bfdf32;
  color: #fff;
  margin-top: 30px;
  cursor: pointer;
}
.body1 button:hover {
  background: #86df32;
  transition: 1s ease;
}
.body1 button h3 {
  font-weight: bold;
  letter-spacing: 1px;
}
.body2 {
  /* -webkit-box-shadow: 0px 0px 38px -22px #000000;
  box-shadow: 0px 0px 38px -22px #000000; */
  background: #4abebd;
  grid-area: body2;
  border-radius: 0 0 10px 0;
  padding: 30px;
}
.body2 h3 {
  font-weight: 600;
  margin-bottom: 10px;
}
.body2 p {
  font-size: small;
  width: 20vw;
  font-weight: 300;
  word-spacing: 2px;
  color: #b8e4e6;
}
@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'header'
      'body1'
      'body2';
    padding: 50px;
  }
  header {
    padding: 20px;
  }
  .body1 {
    border-radius: 0;
    padding: 20px;
  }
  .body1 button {
    margin-bottom: 20px;
  }
  .body2 {
    border-radius: 0 0 10px 10px;
    padding: 20px;
  }
  .body2 p {
    width: 70vw;
  }
}
